// icons
.svg-wm-icon{
	display: inline-block;
	width: 24px;
	height: 23px;
}
.svg-24-icon{
	display: inline-block;
	width: 22px;
	height: 21px;
}
.svg-master{
	display: inline-block;
	width: 44px;
	height:27px;
}
.svg-visa{
	display: inline-block;
	width: 44px;
	height: 14px;
}
.svg-vk{
	display: inline-block;
	width: 27px;
	height: 21px;
}
.svg-facebook{
	display: inline-block;
	width: 20px;
	height:20px;
}
.svg-google{
	display: inline-block;
	width: 18px;
	height:21px;
}
.svg-ok-ru{
	display: inline-block;
	width: 13px;
	height:21px;
}
// footer
.footer{
	background: #fcfcfc;
	.footer_top{
		width: 100%;
		float: left;
		padding-top: 35px;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		ul{
			padding-left: 0;
			li{
				list-style: none;
				line-height: 22px;
				a{
					font-family: @MullerLight;
					color:  #808080;
					font-size: 15px;
					font-weight: normal;
					line-height: 22px;
					text-align: left;
					&:hover{
						text-decoration: underline;
						color:@color_b;
					}
				}
			}
		}
		p{
			margin-bottom: 0;
		}
	}
	.footer_container{
		width: 80%;
		margin: 0 auto;
		@media screen and (max-width: 1700px) {
			width: 90%;
		}
	}
	.footer-col{
		padding-left: 92px;
		&:nth-child(2){
			padding-left: 100px;
		}
		&:nth-child(3){
			padding-left: 142px;
		}
	}
	.footer_bottom{
		width: 100%;
		float: left;
	}
	span.title_block{
		font-family: @MullerRegular;
		color:  @color_b;
		font-size: 18px;
		font-weight: normal;
		line-height: 25px;
		text-align: left;
	}
	.call_us{
		a{
			font-family: @MullerLight;
			font-size: 15px;
			color:  #808080;
			font-weight: normal;
			&:hover{
				text-decoration: underline;
				color:@color_b;
			}
		}
		a.phone{
			font-family: @MullerThin;
			color:  @color_b;
			font-size: 25px;
			font-weight: normal;
			line-height: 35px;
			text-align: left;
			&:hover{
				text-decoration: none;
			}
		}
		p{
			padding-right: 50px;
			margin-bottom: 5px;
			font-family: @MullerLight;
			color:  #808080;
			font-size: 15px;
			font-weight: normal;
			line-height: 22px;
			text-align: left;
			&:first-child{
				padding-right: 0;
			}
		}
	}
	.help{
		.pay_list{
			margin-top: 15px;
			margin-left: 3px;
			li{
				float: left;
				margin-right: 8px;
			}
		}
	}
	.trust{
		ul{
			li{
				line-height: 26px;
			}
		}
	}
	.footer_bottom{
		padding-top: 44px;
		padding-bottom: 2px;
	}
	.footer_bottom_content{
		width: 616px;
		padding: 0 35px 0 72px;
		margin: 0 auto;
		ul{
			float: left;
			width: 38%;
			padding-left: 0;
			li{
				list-style: none;
				float: left;
				width: 25%;
				text-align: center;
			}
		}
		//logo boom zoom
		.boom_zoom{
			float: left;
			width: 52%;
			font-family: @MullerLight;
			color: #595959;
			font-size: 15px;
			font-weight: normal;
			line-height: 25px;
			text-align: right;
			img{
				margin-left: 5px;
			}
		}
	}
}
// end footer