// header
.header{
	padding: 12px 0;
	.logo{
		margin-left: 88px;
	}
	.link_block{
		position: relative;
		top: 27px;
		left: 35px;
		text-align: center;
		.btn{
			width: 259px;
			height: 53px;
			font-size: 16px;
			line-height: 34px;
			&:focus{
				color:@color_w;
			}
			&:visited{
				color:@color_w;
			}
		}
	}
	@media screen and (max-width: 1199px) {
		.container{
			width: 100%;
		}
		.link_block{
			top: 24px;
			left:0;
		}
	}
	@media screen and (max-width: 991px) {
		.logo{
			margin-left: 20px;
		}
	}
	@media screen and (max-width: 800px) {
		.second_block{
			display: none;
		}
		.col-sm-4{
			width: 50%;
		}
	}
	@media screen and (max-width: 430px) {
		.col-xs-3,
		.col-xs-9{
			width: 100%;
			text-align: center;
		}
		.logo{
			text-align: center;
			margin: 0 auto;
		}
	}
}
.contacts{
	padding: 25px 110px 0 0;
	text-align: right;
	a{
		color: #3f797a;
		font-size: 22px;
		line-height: 27px;
		text-align: right;
		&:hover{
			color: #3f797a;
			text-decoration: none;
		}
	}
	a.phone{
		color: @color_b;
		&:hover{
			color: @color_b;
		}
	}
	@media screen and (max-width: 991px) {
		padding: 27px 20px 0 0;
	}
	@media screen and (max-width: 430px) {
		padding-right: 0;
		text-align: center;
	}
}
//end header
// header_page
.header.header_page{
	.logo{
		margin-left: 0;
	}
	.contacts{
		padding: 25px 0 0 0;
	}
	@media screen and (min-width: 768px) {
		.container{
			width: 750px;
		}
	}
	@media screen and (min-width: 992px) {
		.container{
			width: 970px;
		}
	}
}
// end header_page