// reviews
.reviews{
	background: url(../images/reviews_bg.png) no-repeat center, #efc271;
	background-size: cover;
	padding-bottom: 110px;
	.title_block{
		h2{
			margin-bottom: 34px;
		}
	}
	@media all and (-webkit-min-device-pixel-ratio: 1.5) {
		background: url(../images/reviews_bg@2x.png) no-repeat center, #efc271;
		background-size: cover;
	}
}
.block_review{
	position: relative;
	width: 410px;
	height: 210px;
	margin-right: 20px;
	margin-bottom: 60px;
	background: #eef1f6;
	float: left;
	&:nth-child(2),
	&:nth-child(4){
		margin-left: 132px;
	}
	.block_image{
		position: absolute;
		left:-112px;
		display: block;
		width: 224px;
		height: 210px;
		border-radius: 50%;
		overflow: hidden;
		border:10px solid #eef1f6;
		&:hover{
			.caption{
			-webkit-transition: .4s ease;
			   -moz-transition: .4s ease;
			    -ms-transition: .4s ease;
			     -o-transition: .4s ease;
			        transition: .4s ease;
			visibility:visible;
			opacity: 1;
			}
		}
	}
	.caption{
		position: absolute;
		top: 0;
		display: inline-block;
		width: 100%;
		height:100%;
		background: rgba(131, 154, 170, 0.72);
		border-radius: 50%;
		text-align: center;
		padding: 35% 0;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: .4s ease;
		   -moz-transition: .4s ease;
		    -ms-transition: .4s ease;
		     -o-transition: .4s ease;
		        transition: .4s ease;
		a{
			font-family: Roboto;
			color: @color_w;
			font-size: 16px;
			font-weight: 400;
			text-align: center;
			&:hover{
				color:@color_w;
			}
		}
		i{
			color:@color_w;
			text-align: center;
		}
	}
	.block_text{
		padding-left: 117px;
		padding-right: 27px;
		padding-top: 38px;
		text-align: left;
		p{
			margin-bottom: 4px;
			line-height: 21px;
			span{
				font-size: 22px;
			}
		}
	}
}
.block_review.block_review_right{
	float: right;
	margin-right: 120px;
	.block_image{
		right: -112px;
		left: auto;
	}
	.block_text{
		padding-right: 117px;
		padding-left: 27px;
		p{
			text-align: right;
		}
	}
}
// end reviews