// single
.post_article.single_post{
	.entry_title{
		color: #313b44;
		font-size: 30px;
		font-weight: 700;
		text-align: left;
	}
	.entry_date{
		padding-top: 10px;
		padding-bottom: 19px;
	}
	.block_image{
		width: 100%;
		height: 422px;
	}
	.entry_content{
		width: 100%;
		padding:5px 15px;
		background-color: #ffffff;
		box-shadow: 0px 0px 5px 0px rgba(183, 183, 183, 0.22);
		h2{
			color: #313b44;
			font-size: 20px;
			font-weight: 700;
			text-align: left;
		}
		p{
			color: #313b44;
			font-size: 16px;
			font-weight: 400;
			text-align: justify;
			margin-bottom: 19px;
		}
	}
}
// end single